%table.rounder
  %tr
    %td.left
    %td
      %abbr{:title => content}= link_to truncate(content.name, :length => 8), |
                                                       supplier_path(content) |
    %td.right
