h3 {
  color: #FFF;
}
h3 strong {
  color: #e0e;
}
body {
  background: #1D1D20 none repeat scroll 0%;
  color: #FFF;
}

.header {
  border-bottom:8px solid #2A2A2F;
  height:80px;
}
.footer {
  border-top:8px solid #2A2A2F;
  height:30px;
}
#content, .sidebar {
  height: 400px;
  padding-top: 0.5em;
}
.sidebar {
  width: 134px;
}
.sidebar ul, #content ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
#content li {
  padding: 1em 0;
}
.sidebar ul {
  margin: 0px;
}
.sidebar ul li {
  margin-left:0px;
}

.sidebar a {
  color: #595965;
  background:transparent url(../images/tab_small.gif) no-repeat scroll right center;
  display:block;
  margin:2px 0pt;
  padding:1px 5px 1px 10px;
  font: bold 900 14px/16px;
  text-decoration:none;
}

.sidebar a:hover {
  color: #CC00FF;
  margin-left: 10px;
} 



.menu {
  float:left;
  margin-top: 0.5em;
  width:100%;
  line-height:normal;
  border-bottom:8px solid #101010;
}
.menu ul {
  margin:0;
  padding:0px 10px 0 50px;
  list-style:none;
}
.menu li {
  display:inline;
  margin:0;
  padding:0;
}
.menu a {
  float:left;
  background:url("/images/menu_left.gif") no-repeat 0% -42px;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
}
.menu a span {
  float:left;
  display:block;
  background:url("/images/menu_right.gif") no-repeat 100% -42px;
  padding: 0.5em 0.5em;
  width:6em;
  font-weight: bold;
  text-align: center;
  color:.FFF;
}

.menu a:hover span {
  color:#FFF;
  background-position:  right top;
}

.menu a:hover {
  background-position: left top;
}

.menu .current a {
  background-position: left top;
}
.menu .current a span {
  color: red;
  background-position:  right top;
}

.transparent-message {
  background-color: #6D6E6C;
  width: 480px;
  height: 300px;
  text-align: center;
  opacity: 0.8;
  padding-top: 100px;
  position: absolute;
  top: 120px;
  left: 500px;
}
.form-info {
  border-bottom:1px dotted #CCCCCC;
  clear: left;
  font-size: 160%;
  font-weight: bold;
}
.form-info img {
  margin: 0em 0em -0.5em;
}
form li div label {
  color: #4fff44;
  padding: 2px, 10px;
}
form li div div {
  width: 15em;
  margin: 0.5em 0;
}
form li div div label {
  float: right;
  margin: 0.4em 1em 0 0;
}
form li div div input {
  float: right;
  margin-right: 0.5em;
}
form li div.left {
  float: left;
  width: 47%;
}
form li div.right {
  float: right;
  width: 47%;
}
form li {
 clear:both;
}
.combo-fields {
 padding: 0 1em;
}
