.hot-tags
  热门标签<br/>
  - @tags.each do |tag|
    = link_to tag.name, papers_tagged_path(tag), :class => ['tag-1', 'tag-2', 'tag-3', |
                                                                'tag-4', 'tag-5'].rand |
  - @tags.each do |tag|
    = link_to tag.name, papers_tagged_path(tag), :class => ['tag-1', 'tag-2', 'tag-3', |
                                                                'tag-4', 'tag-5'].rand |
  = link_to '返回', :back

