%ul
  - for item in items
    %li
      = paper_icon(item)
      = link_to item.filename, paper_path(item)
      = link_to 'Edit', edit_paper_path(item)
-#       <%= link_to_remote '参数配置', :url => parameters_path(item),
-#       <%= link_to_remote '编辑', :url => edit_paper_path(item),

-# <ul>
-#   <%  %>
-#     <li>
-#       <%= item.filename %>
-#       <%= link_to_remote '编辑', :url => edit_paper_path(item),
-#         :method => :get,
-#         :update => 'content',
-#         :loading  => "$('mask').show();",
-#         :complete => "$('mask').hide();"
-#       %>  
-#       <%= link_to_remote '参数配置', :url => parameters_path(item),
-#         :method => :get,
-#         :update => 'content',
-#         :loading  => "$('mask').show();",
-#         :complete => "$('mask').hide();"
-#       %>  
-#       <%= link_to_remote '变参', :url => change_paper_path(item),
-#         :method => :get,
-#         :update => 'content',
-#         :loading  => "$('mask').show();",
-#         :complete => "$('mask').hide();"
-#       %>  
-#       <%= link_to '下载', download_paper_path(item) %>
-#       <%= link_to_remote '预览', :url => paper_path(item),
-#         :method => :get,
-#         :update => 'preview',
-#         :loading  => "$('mask').show();",
-#         :complete => "$('mask').hide();"
-#       %>  
-#     </li>
-#   <% end %>
-# </ul>
