- form_for :paper, :url => paper_path,:html =>{:method => :put}, :builder => LabelFormBuilder do |f|
  %p
    = f.text_field :desc, :label => 'Description'
    = f.select :assemble_id, assembles, :label => 'Assemble'
  = submit_tag 'Save'
