%div
  = link_to image_tag 'Part.ico', :class => 'operator'
  = link_to image_tag 'Assemble.ico', :class => 'operator'
  = link_to image_tag 'Sldworks.ico', :class => 'operator'
  %img{:src => item.desc}
  %span 这是一张什么...
