- @archives = (1..9).collect{|e| Archive.new(:desc => "/images/tmp/#{e}.png")}
-#= render :partial => "item", :collection => @archives
- @winners = @archives
= render :partial => 'item', :collection => @archives
