<p>
  <b>描述</b><br />
  <%= f.text_field :desc %>
</p>
<p>
  <b>ParameterName</b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b>初始值</b><br />
  <%= f.text_field :default %>
</p>
<%= f.hidden_field :paper_id, :value => params[:paper_id] %>

<p>
  <%= submit_tag "提交" %>
</p>
