<br/>
<h1>为图纸<%= params[:paper_id] %>编辑参数</h1>
<%= error_messages_for :parameter %>
<% form_remote_for( :parameter, 
                    :url => parameter_path(params[:paper_id], @parameter), 
                    :method => :put,
                    :update => 'content',
                    :loading  => "$('mask').show();",
                    :complete => "$('mask').hide();" ) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
