<br/>

<% form_remote_for( @para,
  :update => 'content',
  :loading  => "$('mask').show();",
  :complete => "$('mask').hide();" ) do |f| %>
  <h1>为 <%= file_icon session[:paper].filename %>
    <%= session[:paper].desc %>添加新参数</h1>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
<%= link_to 'Back', parameters_path %>
